<% layout("/layouts/dashboard_layout") -%>

<form 
  action="<%= category ? '/category/edit/' + category.id + '?_method=PUT' : '/category/create' %>" 
  method="POST" 
  class="category-form"
>
  <div class="form-card">
    <h2 class="form-title">
      <%= category ? "Edit Category" : "Create Category" %>
    </h2>


    <div class="form-group">
      <label>Category Name</label>
      <input 
        type="text" 
        name="name" 
        placeholder="e.g. Groceries" 
        value="<%= category ? category.categoryName : '' %>"
        required 
      />
    </div>


    <div class="form-group">
      <label>Category Type</label>
      <select name="typeId">
        <% for (let type of types) { %>
          <option 
            value="<%= type.id %>"
            <%= category && category.typeId === type.id ? "selected" : "" %>
          >
            <%= type.name %>
          </option>
        <% } %>
      </select>
    </div>

   
    <div class="form-group color-group">
      <label>Category Color</label>
      <div class="color-picker-wrapper">
        <input 
          type="color" 
          name="color" 
          value="<%= category ? category.color : '#3498db' %>" 
        />
          <span class="color-preview"></span>
      </div>
    </div>


    <button type="submit" class="submit-btn">
      <%= category ? "Update Category" : "+ Add Category" %>
    </button>
  </div>
</form>