<% layout("/layouts/dashboard_layout") -%>

<div class="category-container">

  <!-- Header -->
  <div class="category-header">
    <h1>Category Architecture</h1>

    <form action="/category/create" method="get">
      <button class="create-btn">+ Create Category</button>
    </form>
  </div>

  <h3 class="section-title">All Categories</h3>

  <div class="category-grid ">
    
    <% for (let category of categories) { %>
      
      <div class="category-card">

       
        <div class="card-top">
          <span class="type-badge <%= category.transaction_type.name.toLowerCase() %>">
            <%= category.transaction_type.name %>
          </span>

          <div class="actions">
            <a href="/category/edit/<%= category.id %>" class="btn btn-primary"> ✏️</a>

            <form action="/category/<%= category.id %>?_method=DELETE"   method="post">
               <button class="btn btn-danger">🗑️</button>  
            </form>
        
          </div>
        </div>

      
        <h2 class="category-name">
          <%= category.categoryName %>
        </h2>

      
        <div class="color-row">
          <span>Color</span>
          <div 
            class="color-box" 
            style="background: <%= category.color %>;"
          >
          </div>
        </div>

      </div>

    <% } %>

  </div>
</div>