<% layout("/layouts/dashboard_layout") -%>

<div class="transaction-container" style=" margin-left: 240px; ">

  <h2 class="title">
    <%= transaction ? "✏️ Edit Transaction" : "➕ Add Transaction" %>
  </h2>

<form 
  action="<%= transaction ? '/transaction/edit/' + transaction.id + '?_method=PUT' : '/transaction/create' %>" 
  method="POST" 
  class="transaction-form"
>


    <div class="form-group">
      <label>Category</label>
      <select name="categoryId" required>
        <option value="">Select Category</option>

        <% categories.forEach(category => { %>
          <option 
            value="<%= category.id %>"
            <%= transaction && transaction.categoryId === category.id ? "selected" : "" %>
          >
            <%= category.categoryName %> 
            (<%= category.transaction_type.name %>)
          </option>
        <% }) %>

      </select>
    </div>

    <!-- Amount -->
    <div class="form-group">
      <label>Amount</label>
      <input 
        type="number" 
        name="amount" 
        placeholder="Enter amount" 
        value="<%= transaction ? transaction.amount : '' %>"
        required 
      />
    </div>

    <!-- Date -->
    <div class="form-group">
      <label>Date</label>
      <input 
        type="date" 
        name="date" 
        value="<%= transaction ? new Date(transaction.date).toISOString().split('T')[0] : '' %>"
        required 
      />
    </div>

    <!-- Note -->
    <div class="form-group">
      <label>Note (Optional)</label>
      <textarea 
        name="note" 
        rows="3" 
        placeholder="Add description..."
      ><%= transaction ? transaction.note : '' %></textarea>
    </div>

    <!-- Submit -->
    <button type="submit" class="submit-btn">
      <%= transaction ? "Update Transaction" : "+ Add Transaction" %>
    </button>

  </form>

</div>